<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="allocate-nuget" value="https://nexus.allocate-cloud.co.uk/repository/allocate-nuget-public/" />
  </packageSources>
  <packageSourceCredentials>
    <allocate-nuget>
      <add key="Username" value="vladimir.bukleski" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_PSW%" />
    </allocate-nuget>
  </packageSourceCredentials>
</configuration>